<div class="container">
    <h2 class="text-center my-4">Quản lý sản phẩm</h2>
    <div class="flex justify-between py-2">
        <div>   
            Lọc theo tên: 
            <input class="border-2" type="text" [(ngModel)] = "searchText">
        </div>
        <div>
            <a routerLink="add"><button class="btn btn-success">Add New Product</button></a>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Ảnh</th>
                <th>Mã</th>
                <th>Ngày</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | searchBox : searchText;index as i">
                <td>{{ i + 1}}</td>
                <td>
                    <img
                        [src]="product.imageUrl"
                        alt="{{product.imageUrl}}"
                        width="50"
                        height="50"
                    >
                </td>
                <td>{{ product.code }}</td>
                <td>{{ product.releaseDate | date : "dd-MM-yyyy"}}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price | currency : "VND" : "symbol" : "1.3-3"}}</td>
                <td width="150">
                    <button class="btn btn-danger" (click)="removeProduct(product.id!)">Xóa</button>
                    <a routerLink="edit"><button class="btn btn-primary ms-2">Sửa</button></a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <app-product-edit [products]="products" (onRemove)="onHandleRemove($event)"/> -->
</div>