<h2 class="text-center my-4">Add New Product</h2>
<div class="w-[500px] mx-auto">
  <form class="" [formGroup]="productForm" (ngSubmit)="onHandleSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Product Name:</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter name"
      />
      <!-- <div *ngIf="productForm.get('name')?.hasError('name') && productForm.get('name')?.touched">
        <p class="text-red-500">Name is required</p>
      </div> -->
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputPassword1">Product Code:</label>
      <input
        type="text"
        class="form-control"
        formControlName="code"
        id="exampleInputPassword1"
        placeholder="Code"
      />
    </div> -->
    <div class="form-group">
      <label for="exampleInputPassword1">Product Description:</label>
      <textarea class="form-control"
      formControlName="description"
      placeholder="Description"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Product releaseDate:</label>
      <input
        type="date"
        class="form-control"
        formControlName="createdAt"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Product releaseDate"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Product price:</label>
      <input
        type="number"
        class="form-control"
        formControlName="price"
        id="exampleInputPassword1"
        placeholder=""
      />
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputEmail1">Product image:</label>
      <input
        type="text"
        class="form-control"
        formControlName="imageUrl"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder=""
      />
    </div> -->
    <button type="submit" class="btn btn-primary my-2" [disabled]="!productForm.valid">Submit</button>
  </form>
</div>
